
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


#root {
  height: 100vh;
  min-height: 100vh;
}


.login-page {
  min-height: 100vh;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2rem;
}


.dashboard-page {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
}
